/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2023, 5:06:58 AM
    Author     : Acer Predator Helios
*/

body {
    margin: 0;
    background-color: #CFCBC2;
}


.QRBody .updateQRItemTitle,
.QRBody .createQRItemTitle{
    margin: 0;
    padding-bottom: 20px;
    color: white;
}
.methodName{
    margin: 0;
}


label{
    color: white;
}
.QRContainer input[type="text"],
.QRContainer input[type="file"]{
    width: 204px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #CFCBC2;
    color: black;
}

.horizontalDivider {
    height: 2px;
    background-color: white;
    margin: 20px 0;
}


.QRBody{
    display: flex;
    max-height: 600px;
    padding: 10px;
    margin-top: 150px;
    justify-content: center;
}


.createQRItem{
    padding: 25px;
    background-color: #282747;
    max-width: 600px;
    max-height: 600px;
    color:white;
    border-radius: 10px;
    border: solid white;
}

.updateQRItem{
    overflow-x: hidden;
    overflow-y:scroll;
    height:400px;
    max-width:560px;
    min-width: 560px;
    background-color: #282747;
    border-radius: 10px;
    padding: 25px;
    border: solid white;
    margin-right: 5px;
}

.QRItem{
    display: flex;
    max-width: fit-content;
    max-height: 600px;
    margin:auto;
}


.QRImages{
    width: 250px;
    height: 250px;
    background-color: #CFCBC2;
}

.oldQRItem h1{
    color: white;
}

.oldQRItem{
    color: black;
    margin-top: 25px;
}

.newQRItem{
    color: black;
    margin-left: 25px;
}


.addBtn{
    background-color: #8DC075;
}

.updateBtn{
    background-color: #008CBA;
}

.deleteBtn{
    background-color: #f44336;
}

.addBtn:hover,
.updateBtn:hover,
.deleteBtn:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.addBtn,
.updateBtn,
.deleteBtn{
    color: white;
    border-radius: 5px;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75rem;
    cursor: pointer;
    transition: transform 150ms ease-in-out;
    font-weight: bold;
    width: 204px;
    margin-top: 5px;
}

.updateQRItem::-webkit-scrollbar {
    width: 15px;
}

.updateQRItem::-webkit-scrollbar-track {
    background-color: #AEB3AF;
    border-radius: 10px;
}

.updateQRItem::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}

.updateQRItem::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
}


