/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6 Feb 2023, 12:11:13 am
    Author     : rvhin
*/
*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --handle-size: 3rem;
    --div-gap: .3rem;
    --item-height: 34rem;
}

body {
    color: white;
    margin: 0;
    padding-top: 100px;
    background-color: #CFCBC2;
}

/*carousel container*/
.carouselContainer {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    flex-grow: 1;
}

.slider {
    --items-per-screen: 4;
    --slider-index: 0;
    display: flex;
    flex-grow: 1;
    margin: 0 var(--div-gap);
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
}

/*items*/
.slider > .itemContainer {
    flex: 0 0 calc(100% / var(--items-per-screen));
    margin-right:  0.5rem;
    padding: var(--div-gap);
    border-radius: 1rem;
    background-color: #AEB3AF;
}

/*item container grid*/
.slider > .itemContainer >.item{
    display: grid;
    grid-template-areas:
        'itemName itemName  itemName  '
        'thumbnail thumbnail  thumbnail  '
        'itemOption itemOption  itemOption   '
        'itemPHPTag itemPrice  updateItemBtn  '
        'itemPHPTag itemPrice  availabilityItemBtn '
        'itemPHPTag itemPrice deactivateItemBtn';
    
    gap: 0.5rem;
    width:1rem;
    padding:0.5rem;
    margin-left: 1rem;
    align-content: space-between;
    align-items: stretch;
    justify-items: stretch;
    justify-content: start;
}
.itemContainer{
    max-width: 420px;
    
}


/*item image*/
.thumbnail{
    grid-area: thumbnail;
    width: 18.75rem;
    height: 12.5rem;
    margin: 0;
}

/*item name*/
.itemName{
    grid-area: itemName;
    font-size: 2rem;

}

/*item php*/
.itemPHPTag{
    grid-area: itemPHPTag;
}

/*item option*/
.itemOption{
    grid-area: itemOption;
    background-color: #282747;
    border-radius: 10px;
    color: white;
    padding: 10px;
    max-width: 18.75rem;
}

/*item price*/
.itemPrice{
    grid-area: itemPrice;
}

/*item update*/
.updateItemBtn{
    grid-area: updateItemBtn;
    margin: 0;
    background-color: #8DC075;
    border-radius: 4px;
    color: white;
    padding: 5px;
    z-index: 10;
}

/*item availability*/
.availabilityItemBtn{
    grid-area: availabilityItemBtn;
    margin: 0;
    background-color: #758AC0;
    border-radius: 4px;
    color: white;
    padding: 5px;
    z-index: 10;
}

.deactivateItemBtn{
    grid-area: deactivateItemBtn;
    margin: 0;
    background-color: #C56161;
    border-radius: 4px;
    color: white;
    padding: 5px;
    z-index: 10;
}

.reactivateItemBtn{
    grid-area: deactivateItemBtn;
    margin: 0;
    background-color: #8DC075;
    border-radius: 4px;
    color: white;
    padding: 5px;
    z-index: 10;
}

.updateItemBtn:hover,
.availabilityItemBtn:hover,
.deactivateItemBtn:hover,
.reactivateItemBtn:hover
{
    transform: scale(1.2);
}

/*arrows*/
.handle {
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #282747;
    z-index: 2;
    margin: var(--div-gap) 0;
    height: var(--item-height);
    width: var(--handle-size);
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
    position: sticky;
}

/*Left arrow*/
.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: 0;
}

/*Right arrow*/
.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: 0;
}

.item{
    display: flex;
    align-items: center;
}

/*Arrow Hover*/
.handle:hover,
.handle:focus {
    background-color: rgba(255, 255, 255, .5);
}

.text {
    transition: transform 150ms ease-in-out;
}

.handle:hover .text,
.handle:focus .text {
    transform: scale(1.2);
}

/*progress bar location*/
.header-menu {
    display: flex;
    justify-content: space-between;
    padding: .5rem calc((var(--div-gap) * 2) + var(--handle-size));
    align-items: center;
    color: black;
}

.title {
    font-size: 2rem;
    margin: 0;
}

/* Progress Bar*/
.progress-bar {
    display: flex;
    gap: .25rem;
}

.progress-item {
    flex: 0 0 1.5rem;
    min-width: 1.5rem;
    height: .5rem;
    background-color: rgba(255, 255, 255, .5);
}

.progress-item.active {
    background-color: rgba(255, 255, 255, .9);
}

/* Pop up*/
#popupModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/*Pop up container grid*/
.container-popup {
    display: grid;
    grid-template-areas:
        'itemAddName verticalDivider itemIngredient ingredientGrams add-ingredient-btn clearIngredientsBtn'
        'itemAddImage verticalDivider added-ingredients added-ingredients added-ingredients added-ingredients'
        'itemAddOption verticalDivider added-ingredients added-ingredients added-ingredients added-ingredients'
        'itemAddPrice  verticalDivider added-ingredients added-ingredients added-ingredients added-ingredients'
        'addProductBtn verticalDivider added-ingredients added-ingredients added-ingredients added-ingredients';
    background-color: #282747;
    border: solid white;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 60%;
    height: 500px;
    z-index: 5;
    overflow: auto; 
}

.itemAddName{
    grid-area: itemAddName;
}
.itemAddImage{
    grid-area: itemAddImage;
}
.itemAddOption{
    grid-area: itemAddOption;
}
.itemAddPrice{
    grid-area: itemAddPrice;
}
.addProductBtn{
    grid-area: addProductBtn;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.verticalDivider{
    grid-area: verticalDivider;
    border-left: 6px solid white;
    height: 400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
}

.itemIngredient{
    grid-area: itemIngredient;
}
.ingredientGrams{
    grid-area: ingredientGrams;
}
.add-ingredient-btn, .clearIngredientsBtn{
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-ingredient-btn{
    grid-area: add-ingredient-btn;
    background-color: #8DC075;
}
.add-ingredient-btn:hover{
    background-color: #4CAF50;
}

.clearIngredientsBtn{
    grid-area: clearIngredientsBtn;
    background-color: #C56161;
}
.clearIngredientsBtn:hover{
    background-color: #ff3333;
}

.added-ingredients{
    grid-area: added-ingredients;
    align-items: center;
    justify-content: center;
}

.itemAddName, .itemAddImage,
.itemAddOption, .itemAddPrice{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #CFCBC2;
    color: black;
}

.itemIngredient, .ingredientGrams{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #CFCBC2;
    color: black;
}

.addItem{
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    height: var(--item-height);
    width: 250px;
    transition: transform 0.2s ease;
    border-radius: 10px;
    background-color: #282747;
    margin-right: 20px;
}

.addItem:hover{
    cursor: pointer;
    transform: scale(1.2);
    z-index: 10;
}

.added-ingredients {
    overflow-y: auto;
    max-height: 28vh;
    border-top: solid white;
    border-bottom: solid white;
}
.added-ingredients::-webkit-scrollbar {
    width: 15px;
}

.added-ingredients::-webkit-scrollbar-track {
    background-color: #AEB3AF;
    border-radius: 10px;
}

.added-ingredients::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}

.added-ingredients::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
}

.added-ingredients h3{
    padding-bottom: 20px;
}

.ingredient-grams, .ingredient-names {
    width: 50%;
}

.ingredient-names {
    float: left;
}

.ingredient-grams {
    float: right;
}

#addCoffeeItem{
    background-image: url(https://i.postimg.cc/qvdywMwW/add-Button-Coffee.png);
}
#addTeaItem{
    background-image: url(https://i.postimg.cc/qv9NZ3DL/add-Button-Tea.png);
}
#addLatteItem{
    background-image: url(https://i.postimg.cc/G2qwtNfp/add-Button-Latte.png);
}



@media (max-width: 1000px) {
    .slider {
        --items-per-screen: 3;
    }
/*    .carouselContainer {
        transform: scale(0.8);
    }*/
}

@media (max-width: 500px) {
    .slider {
        --items-per-screen: 2;
    }
    .carouselContainer {
        transform: scale(0.6);
    }
}
