/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6 Feb 2023, 12:11:13 am
    Author     : rvhin
*/

body{
    margin-top: 30px;
}

.Non-Coffees{
    display: flex;
    overflow-x: auto;
}

.Non-Coffees::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.noncoffee-items{
    display: flex;
    white-space: nowrap;
}

.product{
    width: 100px;
    height: 100px;
    background-color: #eee;
    margin: 0 10px;
}

.scroll-button {
    width: 50px;
    height: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
}

#scroll-left {
    left: 0;
}

#scroll-right {
    right: 0;
}

#addCoffeeItem{
    background-image: url(https://i.postimg.cc/qvdywMwW/add-Button-Coffee.png);
    background-size: cover;
    border: none;
    height: 200px;
    width: 200px;
    transition: transform 0.2s ease;
}
#addCoffeeItem:hover{
    cursor: pointer;
    transform: scale(1.2);
}

#addTeaItem{
    background-image: url(https://i.postimg.cc/qv9NZ3DL/add-Button-Tea.png);
    background-size: cover;
    border: none;
    height: 200px;
    width: 200px;
    transition: transform 0.2s ease;
}
#addTeaItem:hover{
    cursor: pointer;
    transform: scale(1.2);
}

#addLatteItem{
    background-image: url(https://i.postimg.cc/G2qwtNfp/add-Button-Latte.png);
    background-size: cover;
    border: none;
    height: 200px;
    width: 200px;
    transition: transform 0.2s ease;
}
#addLatteItem:hover{
    cursor: pointer;
    transform: scale(1.2);
}

#popupAdd {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    display: none;
}

.hidden {
    display: none;
}
