/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 Feb 2023, 10:56:18 pm
    Author     : rvhin
*/

body {
    margin: 0;
    color: white;
    background-color: #CFCBC2;
}

.inner-container {
    background-color: #282747;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    border: solid white;
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.outer-container h2 {
    text-align: center;
    border: 3px solid #282747;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 100%;
}

input[type="submit"] {
    background-color: #3b3e6d;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #464a7a;
    transform: scale(1.1);
}

@media screen and (min-width: 768px) {
    /* Styles for screens with a minimum width of 768px */
    .outer-container {
        max-width: 600px;
        margin: 0 auto;
    }

    input[type="email"],
    input[type="password"],
    input[type="submit"] {
        width: auto;
    }

    .bottomButtons{
        background-color: #282747;
        width: fit-content;
        margin-left: 10px;
        border: solid white;
        border-radius: 5px;
    }
    
    .bottomButtons button{
        background-color: #f44336;
        padding: 10px 20px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        color: white;
        transition: transform 0.2s ease-in-out;
        min-width: 315px;
        max-width: 315px;
    }
    
    .bottomButtons button:hover{
        transform: scale(1.1);
    }
}
