/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 Feb 2023, 7:06:34 pm
    Author     : rvhin
*/
body{
    margin: 0;
}

.title {
    margin-top: 0;
}

.orderDate{
    font-size: 24px;
    margin-bottom: 10px;
}

.ordersBody{
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    bottom: 20px;
    left: 0;
    right: 0;
}

.ordersContainers{
    display: flex;
    justify-content: center;
    height: 100%;
}

.ordersBtn{
    display: flex;
}


.selectDate{
    padding: 15px;
    background-color: #282747;
    border-radius: 0.3rem;
    color:white;
    margin-bottom: 5px;
}

.selectDate h1{
    margin-top: 0;
}

.orderSummary h1{
    margin-top: 0;
}

.selectDate form input[type="date"]:hover{
    cursor: text;
}

.selectDate, .orderSummary{
    border: 5px solid white;
}

.orderSummary{
    padding: 15px;
    background-color: #282747;
    border-radius: 0.3rem;
    color:white;
    min-height: 180px;
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

.transactionBtn,.productBtn{
    font-size: 1.5rem;
    color:white;
    background-color: #282747;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 0.3rem;
    margin-right: 5px;
}

.ordersPanel{
    background-color: #AEB3AF;
    padding: 25px 36px 25px 25px;
    overflow-x: hidden;
    overflow-y:scroll;
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
    margin-right: 10px;
    border: 5px solid white;
}

.dateAndSummary{
    width: 100%;
}

.ordersPanel::-webkit-scrollbar,
.orderSummary::-webkit-scrollbar{
    width: 15px;
}

.ordersPanel::-webkit-scrollbar-track,
.orderSummary::-webkit-scrollbar-track{
    background-color: #AEB3AF;
    border-radius: 10px;
}

.ordersPanel::-webkit-scrollbar-thumb,
.orderSummary::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 10px;
}

.ordersPanel::-webkit-scrollbar-thumb:hover,
.orderSummary::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
}

.horizontalDivider {
    height: 2px;
    background-color: white;
    margin: 5px 0;
    width: 100%;
}

.openSummaryBtn{
    background-color: #282747;
    color:white;
    font-size: 1.2rem;
    width:100%;
}

.openSummaryBtn p{
    margin: 0;
    font-size: 16px;
    pointer-events: none;
}

.openSummaryBtn h2{
    pointer-events: none;
}

.inputDate{
    display: block;
    border-radius: 5px;
    font-size: 1rem;
    background: #E6E6E6;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 15px -10px;
    text-indent: 20px;
}
.dateBtn {
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 10rem;
    border: 0;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #8DC075;
    margin: 0px 40px 0px 10px;
}

#summaryTable{
    border: 2px solid white;
    width: 100%;
}

#summaryTable th,
#summaryTable td {
  border: 2px solid white; /* add border to table header and data cells */
  text-align: center;
  padding: 5px;
}

.productBtn:hover, .transactionBtn:hover,
.openSummaryBtn:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.dateBtn:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.productBtn, .transactionBtn,
.openSummaryBtn, .dateBtn{
    transition: transform 150ms ease-in-out;
}