/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 Feb 2023, 2:10:45 pm
    Author     : rvhin
*/

body{
    margin: 0;
    padding-top: 100px;
    background-color: #CFCBC2;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: #AEB3AF;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
}


