@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body{
    padding-top: 60px;
    margin: 0px;
    background-color: #D9D9D9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}


.row{
  display: flex;
  padding-left: 30px;
  padding-top: 70px;
}
.column1{
  width: 25%;
}

.column2{
  width: 75%;
  padding-left: 30px;
}

.pic1{
   flex-basis: 40%;
}

.mmc{
  max-width: 100%;
  height: auto;
}

.admin-home-container{
    width: auto;
    max-height: 250px;
    background-color: #282747;
    padding-bottom: 10px;
}

.home-container-contents{
    margin-left: 30px;
    padding-top: 10px;
}

p{
    margin: 10px;
}
.first-line{
    color: white;
    font-size: 30px;
}

.second-line{
    color: white;
    font-size: 25px;
}

.third-line{
    font-size: 20px;
    color: black;
}


.third-line p{
    background-color: #D9D9D9;
    max-width: 123px;
    max-height: 30px;
    word-wrap: break-word;
    padding-left: 20px;
    padding-top: 5px;
    border-radius: 5px;
}

.logos{
  margin-left: 10px;
}

.fourth-line{
    font-size: 30px;
    color: black;
    padding-top: 10px;
      
}

.fourth-line p{
  padding-top: 30px;
  text-align:center;
}

.fifth-line{
    font-size: 30px;
    color: black;
}

.fifth-line p{
  text-align:center;
}

.fblogo{
  width: 5%;
  max-width: 70px;
  height: auto;
}
.iglogo{
  width: 5%;
  max-width: 70px;
  height: auto;
}
.ttlogo{
  width: 5%;
  max-width: 70px;
  height: auto;
}

h1{
    font-size: 30px;
}

.logos .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.logos .button:hover{
  width: 200px;
}
.logos .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.logos .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.logos .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.logos .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.logos .button:nth-child(4):hover .icon{
  background: #333;
}
.logos .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.logos .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.logos .button:hover .icon i{
  color: #fff;
}
.logos .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
  font-family: 'Poppins', sans-serif;
}
.logos .button:nth-child(1) span{
  color: #4267B2;
}
.logos .button:nth-child(2) span{
  color: #1DA1F2;
}
.logos .button:nth-child(3) span{
  color: #E1306C;
}
.logos .button:nth-child(4) span{
  color: #333;
}
.logos .button:nth-child(5) span{
  color: #ff0000;
}

.rewiew-container{
    width: auto;
    max-height: 250px;
    background-color: #282747;
    padding-bottom: 10px;
}

.reviews{
   margin-left: 30px;
   padding-top: 50px;   
   display: table;
}
.review1{
  height:auto;
  font-size:20px;
  float: left;
  width: 33.33%;
}
.review1 p{
  text-align:center;
  word-wrap: break-word;
}
.review2{
  float: left;
  width: 33.33%;
  height:auto;
  font-size:20px;
}
.review2{
  text-align:center;
  word-wrap: break-word;
}
.review3{
  float: left;
   width: 33.33%;
  font-size:20px;
}
.review3{
  text-align:center;
  word-wrap: break-word;
}
.desc{
  padding-top: 10px;
}