/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 24, 2023, 5:19:54 AM
    Author     : Acer Predator Helios
*/

body {
    margin: 0;
    background-color: #CFCBC2;
    background: url("https://i.postimg.cc/6Qq2MFPv/image.png")no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282747;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.container{
  max-width: 800px;
  background: #282747;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 5px;
}

.orderId{
    text-align: center;
    color: white;
    font-size: 30px;
}

.instructions{
    text-align: center;
    color: white;
}

.doneBtn {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #282747;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 300px;
  outline: 5px solid white;
  margin-bottom: 20px;
}

.doneBtn:hover {
  background-color: #ddd;
  color: black;
}

