/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 11, 2023, 8:32:40 PM
    Author     : Agleos
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282747;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 1;
}
.close:hover {
  opacity: 0.3;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px; 
  background-color: #FFFFFF;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.logo-container img {
  width: 100px;
  height: 100px;
}
