/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 Feb 2023, 11:53:02 am
    Author     : Andrei
*/


/*paayos nalang neto*/
.QRImages{
   width: 250px;
   height: 250px;
}