/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 31 Mar 2023, 7:32:15 pm
    Author     : rvhin
*/

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: #AEB3AF;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
}