/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 Feb 2023, 11:53:02 am
    Author     : Andrei
*/


/*paayos nalang neto*/

.login {
    overflow: hidden;
    background-color: #282747;
    padding: 10px 45px 50px 45px;
    border-radius: 10px;
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
    color: #D9D9D9;
}

.login > input {
    display: flex;
    border-radius: 5px;
    font-size: 16px;
    background: #E6E6E6;
    width: 100%;
    border: 1px solid;
    border-color: black;
    padding: 10px 10px;
    margin: 15px -10px;
    margin-top: -15px;    
}
.login > button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 422px;
    border: 0;
    padding: 10px 0px;
    margin-top: 0px;
    margin-left: -10px;
    border-radius: 5px;
    background-color: #4a4347;
    transition: background-color 300ms;
    text-indent: 0px;
    text-align: center;
}
.login > button:hover {
    background-color: #333333;
}
.login::before, .login::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
}
.login::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba(69, 105, 144, 0.15);
    animation: wawes 6s infinite linear;
}
.login::after {
    left:45%;
    bottom: -35%;
    background-color: rgba(2, 128, 144, 0.2);
    animation: wawes 10s infinite;
}
@keyframes wawes {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.fullname   {
    display: flex;
    flex-direction: row;

}

.checkbox{
    padding-top: 10px;
    padding-bottom: 10px;
}
label {
    font-size: 20px;
    width: 100%;
    text-align: left;
}

label > input{
    display: flex;
    border-radius: 5px;
    font-size: 16px;
    background: #E6E6E6;
    width: 100%;
    border: 1px solid;
    border-color: black;
    padding-top:10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left:5px;
    margin: 5px -10px; 
}

.center {
    text-align: center;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: green;
    background-color: transparent;
  }
a:visited {
    color: yellowgreen;
    background-color: transparent;
    text-decoration: none;
}
body {
 background: url("https://i.postimg.cc/6Qq2MFPv/image.png")no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
