<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/Login_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
        <servlet>
        <servlet-name>Forgotpassword_page</servlet-name>
        <jsp-file>/Forgotpassword_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Forgotpassword_page</servlet-name>
        <url-pattern>/Forgotpassword_page</url-pattern>
    </servlet-mapping>
    
            <servlet>
        <servlet-name>Resetpassword_page</servlet-name>
        <jsp-file>/Resetpassword_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resetpassword_page</servlet-name>
        <url-pattern>/Resetpassword_page</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <jsp-file>/Menu_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    
        <servlet>
        <servlet-name>Account_page</servlet-name>
        <jsp-file>/Account_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Account_page</servlet-name>
        <url-pattern>/Account_page</url-pattern>
    </servlet-mapping>
            <servlet>
        <servlet-name>adminCustomerManagement_page</servlet-name>
        <jsp-file>/adminCustomerManagement_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminCustomerManagement_page</servlet-name>
        <url-pattern>/adminCustomerManagement_page</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Signup</servlet-name>
        <jsp-file>/Signup_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminAccount</servlet-name>
        <jsp-file>/adminAccount_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAccount</servlet-name>
        <url-pattern>/AdminAccount</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminFeedback</servlet-name>
        <jsp-file>/adminFeedback_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminFeedback</servlet-name>
        <url-pattern>/AdminFeedback</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <jsp-file>/adminHome_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/AdminHome</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminIngredients</servlet-name>
        <jsp-file>/adminIngredients_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminIngredients</servlet-name>
        <url-pattern>/AdminIngredients</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <jsp-file>/adminLogin_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminMenu</servlet-name>
        <jsp-file>/adminMenu_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminMenu</servlet-name>
        <url-pattern>/AdminMenu</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminOrders</servlet-name>
        <jsp-file>/adminOrders_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminOrders</servlet-name>
        <url-pattern>/AdminOrders</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminPayment</servlet-name>
        <jsp-file>/adminPayment_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPayment</servlet-name>
        <url-pattern>/AdminPayment</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Error</servlet-name>
        <jsp-file>/error_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <jsp-file>/feedback_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Instruction</servlet-name>
        <jsp-file>/instruction_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Instruction</servlet-name>
        <url-pattern>/Instruction</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Payment</servlet-name>
        <jsp-file>/payment_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Rating</servlet-name>
        <jsp-file>/rating_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Rating</servlet-name>
        <url-pattern>/Rating</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>AdminTransactions</servlet-name>
        <jsp-file>/adminTransactions_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminTransactions</servlet-name>
        <url-pattern>/adminTransactions_page</url-pattern>
    </servlet-mapping>

   
      <error-page>  
        <location>/error_page.jsp</location>  
    </error-page>  
  
   
    <context-param>
        <param-name>jdbcDriverURL</param-name>
        <param-value>jdbc:mysql</param-value>
    </context-param>
    <context-param>
        <param-name>dbUserName</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbHostName</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>dbPort</param-name>
        <param-value>3306</param-value>
    </context-param>
    <context-param>
        <param-name>databaseName</param-name>
        <param-value>midnightcoffeedb</param-value>
    </context-param>
    <context-param>
        <param-name>useSSL</param-name>
        <param-value>?useSSL=false</param-value>
    </context-param>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>