/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 Feb 2023, 2:10:45 pm
    Author     : rvhin
*/

body{
    margin: 0;
    padding-top: 60px;
    background-color: #CFCBC2;
}
